body {
    font-family: 'Roboto', sans-serif;

}

@media screen and (min-width:851px) {
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .fa-fa-icon {
        visibility: hidden;
    }

    .header-icon a img {
        width: 25px;
        padding-right: 30px;
    }

    a {
        text-decoration: none;

    }

    .header-menus {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


    }

    .header-menu-container div a {
        color: rgb(110, 110, 110);
        padding-left: 23px;

        font-size: 13px;
    }

    .list-item-container {
        display: flex;
        flex-direction: row;
       
        padding-top: 50px;
        width: 100%;
    }
.list-item{
    width: 70%;
    padding-left: 6%;

}
.list-item-img img{
    width: 100%; 
    height: 90%;
}

.list-item-content{
    width: 60%;
}

.item-option{

    width: 80%;


}
.item-content{
    font-size: 14px;
    color: gray;
}
.add-to-cart{
    margin-top: 5%;
    border-style: solid;
    border-color: black;
   
    
     text-align: center;
      padding: 4px 39px;
    text-align: center;
    display: inline-block;
    

  
}
.add-to-cart-for-mobile{
    visibility: hidden;
    position: absolute;
}


    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .footer-content {
        background-color: black;
        border: none;
        color: white;
        padding: 1px 20px;
        text-align: center;
        display: inline-block;
        font-size: 12px;
        margin-top: 15px;
    }

    .footer-content-polymer a {
        color: rgb(144, 144, 144);
        font-size: 12px;
    }
}
/* for tablet */
@media screen and (min-width:451px) and (max-width:850px) {
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .fa-fa-icon {
        visibility: visible;
    }

    .header-icon a img {
        width: 25px;
        padding-right: 30px;
    }

    a {
        text-decoration: none;

    }

    .header-menus {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


    }
    .header-menu-container{
        visibility: hidden;
        position: absolute;
    }
     

    .header-menu-container div a {
        color: rgb(110, 110, 110);
        padding-left: 23px;
        visibility: hidden;
        position: absolute;
        font-size: 13px;
    }

    .list-item-container {
        display: flex;
        flex-direction: column;
         
       
        width: 100%;
    }

.list-item-img img{
    width: 100%; 
    
}

.list-item-content{
    width: 80%;
    padding-left: 10%;
}

.item-option{

}
.item-content{
    font-size: 14px;
    color: gray;
}
.add-to-cart{
   visibility: hidden;
   
   
}
.add-to-cart-for-mobile{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-style: solid;
    border-color: #172c50;
    color: white;
    background-color:#172c50;
    padding-top: 19px;
    text-align: center;
      padding-bottom: 19px;
    font-size: 14px;
    display: inline-block;
    
}



    footer {
      visibility: hidden;
      
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .footer-content {
        background-color: black;
        border: none;
        color: white;
        padding: 1px 20px;
        text-align: center;
        display: inline-block;
        font-size: 12px;
        margin-top: 15px;
    }

    .footer-content-polymer a {
        color: rgb(144, 144, 144);
        font-size: 12px;
    }

}

/* for mobile */
@media screen and (max-width:450px) {

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .fa-fa-icon {
        visibility: visible;
    }

    .header-icon a img {
        width: 25px;
        padding-right: 30px;
    }

    a {
        text-decoration: none;

    }

    .header-menus {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


    }
.header-menu-container{
    visibility: hidden;
    position: absolute;
}
    .header-menu-container div a {
        color: rgb(110, 110, 110);
        padding-left: 23px;
        
        font-size: 13px;
    }

    .list-item-container {
        display: flex;
        flex-direction: column;
         
        
        width: 100%;
    }

.list-item-img img{
    width: 100%; 
    
}

.list-item-content{
    width: 80%;
    padding-left: 10%;
}

.item-option{

}
.item-content{
    font-size: 14px;
    color: gray;
}
.add-to-cart{
   visibility: hidden;
   
   
}
.add-to-cart-for-mobile{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-style: solid;
    border-color: #172c50;
    
    background-color:#172c50;
    padding-top: 19px;
    text-align: center;
      padding-bottom: 19px;
    font-size: 14px;
    display: inline-block;
    
}



    footer {
      visibility: hidden;
      
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .footer-content {
        background-color: black;
        border: none;
        color: white;
        padding: 1px 20px;
        text-align: center;
        display: inline-block;
        font-size: 12px;
        margin-top: 15px;
    }

    .footer-content-polymer a {
        color: rgb(144, 144, 144);
        font-size: 12px;
    }



}